<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>srs rendering</title>
</head>
<body>
 <p> Server side rendering </p>
 <% url.forEach( urls => { %>
    <li> <%= urls %></li>
  
 <% }) %>
    
</body>
</html>